html {
  /* preventing padding from adding extra length and width to the page - so we don't have the horizontal line */
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: dodgerblue;
}
